@font-face {
    font-family: custom-font;
    
    src: local(NotoSansTC), url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap') format("opentype");
    unicode-range: U+4E00-9FFF;
}
@font-face {
    font-family: custom-font;
    src: local(Arial), url('../font/Arial.ttf') format("truetype");
    unicode-range: U+00-024F;
}
:root {
    --primaryColor_default: #BFBD4A;
    --primaryColor_dark: #7C8C38;
    --primaryColor_light: #D6D48A;
    --primaryColor_tint: #D6D48A;
    --secondaryColor_default: #B18042;
    --secondaryColor_light: #EDDCCE;

    --subColor_bgc: #F7F5F0;
    --subColor_yellow: #FFE266;
    --subColor_lightRed: #F67557;
    --subColor_highLightRed: #B14F42;
    --subColor_text: #4C4C4C;
    
    --black_core: #000000;
    --black_900: #2D2D2D;
    --black_800: #4B4B4B;
    --black_600: #909090;
    --black_500: #CCCCCC;
    --black_400: #ECECEC;
    --black_200: #F6F6F6;
    --white: #ffffff;

    --headline_50px:80px;
    --headline_60px:60px;
    --headline_40px:40px;
    --headline_32px:32px;
    --headline_28px:28px;
    --headline_24px:24px;
    --headline_20px:20px;
    --subtitle_18px:18px;
    --subtitle_16px:16px;
    --p_16px: 16px;
    --p_14px: 14px;
    --p_12px: 12px;
    --p_10px: 10px;

    --border-radious: 20px;
    --btn-radious: 1200px;
    --box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.15);

}

body{
font-family: custom-font;
}

/* nav-moble */
.nav-white-block{
    width: 100%;
    height: 68px;
    background-color: var(--white);    
}

@media screen and (min-width:576px){
    .nav-white-block{
        display: none;
    }
}
.banner {
    width: 100%;
    height: 140px;
    overflow: hidden;
    position: relative;
    
}
.banner img{
    width: 100%;
    object-fit: cover;
    object-position: 50% 40%;
    height: 100%;
}
/* pc-banner*/
@media screen and (min-width:576px){
    .banner{
        height: 580px;
    }
}
/* banner 按鈕區 */
.banner-button-info{
    margin-top:-30px ;
    position: relative;
}
.banner-block-middle{
    height: 20px;
    width: 100%;
}
.banner-block-up{
    width: 80%;
    background-color: var(--subColor_bgc);
    border-radius: 20px 20px 0 0;
    height: 30px;
}
.banner-block-up-container{
    display: flex; 
    justify-content: center;
    position: relative;
}

.banner-block-up p{
    color: var(--subColor_text);
    text-align: center;
    line-height: 40px;
    margin-top: 10px;
    padding-right: 5px;    
}
.banner-block-icon{
    cursor: pointer;
    margin-top: 10px; 
    position: absolute;  
    top: 10px;
    right: 25px;
    transition: all .6s;
}
.banner-block-icon.active{
    transform: rotate(180deg);
    transition: all 0.6s;
}

.banner-block-up img{
    width:20px;
}
.banner-block-middle{
    width: 100%;
    height: 20px;
    background-color:var(--subColor_bgc);

}
/* 中間灰色色塊 */
.banner-block-down-mobile{
    background-color: var(--subColor_bgc);
    display: none;
}
/*下拉式彈出頁面  */
.banner-block-down{
    width: 100%;
    background-color: var(--subColor_bgc);
    }
.why-card-box-fram{
        width:100%;
        overflow: hidden;
        overflow-x: auto;  
        -webkit-overflow-scrolling:touch;
    }
    .why-card-box-fram::-webkit-scrollbar{
        width:0; 
        height:0; 
        display: none;
    }
    
.why-card-box{
    width: 400%;
    }
.why-card{
         width: 100%;
    }
.why-card-img{
    width: 70%;
    margin: auto;
  }
.why-card-img img{
    width: 100%;
}
/*下拉式彈出頁面-text  */
.why-card h4{
    color: var(--primaryColor_dark);
    font-weight: 700;
    font-size: var(--headline_20px);
    line-height: 1.8rem;
    text-align: center;
    margin-top: 20px;
}
.why-card p{
    color: var(--subColor_text);
    font-size: var(--p_16px);
    line-height: 1.8rem;
    text-align: center;
    
}
/*新增class */
.button-block-pc.changeBackground{
    background-color: var(--subColor_bgc);
    transition: all .3s;
    /* width: 520px;
    border-radius: 20px 0px 0px 0px ;
    position: absolute;
    margin-top: -40px;
    left: 72.5%; */
}
/* .changeBackground{
    background-color: var(--subColor_bgc);
} */
/* 下拉式彈出pc */
@media screen and (min-width:576px){
    .banner-button-container-pc{
        display: none;
    }
    .banner-button-info {
    display: none ;
    } 
    .banner-button-info-pc{
    /* padding-bottom: 20px; */
    background-color: var(--subColor_bgc);
    position: relative;
    
    }
    /* 按鈕 */
    
    .button-block-pc{
        background-color: var(--white);
        width: 520px;
        border-radius: 20px 0px 0px 0px ;
        position: absolute;
        margin-top: -40px;
        left: 72.5%;
        transition: all 1.5s;
        transform: rotate(0deg);
    }


    .button-block-row-pc{
        display: flex;
        justify-content: center;
        cursor: pointer;
        position: relative;
    }
    .button-block-row-pc h3{
        font-size: 24px;
        color: var(--subColor_text);
        margin-top:20px ;
    }
    .button-block-icon-pc{
        position: absolute;
        transition: all 0.6s;
        top: 15px;
        right: 60px;
    }
    .button-block-icon-pc.active{
        transform: rotate(180deg);
        transition: all 0.6s;
    }

    .button-block-icon-pc img{
        width:30px;
        cursor: pointer;
    }
    .banner-button-container-pc{
        width: 1440px;
        /* border: 1px solid rgb(68, 255, 0); */
        margin: auto;
    }  
    .banner-button-container-row-pc{
        display: flex;
        width: 100%;
        justify-content: space-between;
        transform: translate(0px, 0px);
        animation: move 1s  alternate-reverse ;
        /* transition: 5s; */
    }
    @keyframes move{
        0%{
    }
        100%{
            transform: translate(0px, 150px);
        }
    } 
    .banner-why-card-pc{
       padding: 30px 30px 50px 30px;
       
    }
    .why-card-img-pc{
        width: 100%;
        overflow: hidden;
    }
    .why-card-img-pc img{
        width: 100%;
    }
    .banner-why-card-pc h3{
        font-size: var(--headline_28px);
        color:var(--primaryColor_dark);
        font-weight: 700;
        text-align: center;
        padding: 20px 0 10px;
    }
    .banner-why-card-pc p{
        font-size: 18px;
        color: var(--subColor_text);
        text-align: center;
        line-height: 1.8rem;
    }
}

@media screen and (max-width:576px){
    .banner-button-info-pc{
        
    display: none;
    }
}

/* 四個點點 */
.silder-dot{
    width: 30%;
    display: flex;
    border-radius: var(--border-radious);
    justify-content: space-between;
    margin: auto;
}
.silder-dot .dot{
    width: 10px;
    height: 10px;
   border: 2px solid var(--primaryColor_light);
    border-radius: 50%;
    margin: 20px 0;
}
.silder-dot .dot1{
    background-color: var(--primaryColor_light);
}


/* 篩選器標題 */
.filter{
    margin: 50px 0 30px;
}

.filter h2{
    font-weight: 700;
    font-size: var(--headline_28px);
    color: var(--secondaryColor_default);
    text-align: center;
    /* margin-top: 45px; */
}
.filter h3{
    font-weight: 700;
    font-size: var(--headline_20px);
    color: var(--secondaryColor_default);
    text-align: center;
    margin: 10px;
}
/* 篩選器*/
.napSwitch_two,.napSwitch_three{
    margin: 8px auto;
}
.filter-group{
    display: flex;
    flex-direction: column;
}
@media screen and (max-width:576px){
    .filter-title-pc{
        display: none;
    }
}
@media screen and (min-width:576px){
    .filter-title-mobile{
        display: none;
    }
    .filter{
        margin: 100px 0 50px;
        /* border:1px solid red ; */
    }
    .filter-container{
        width: 75%;
        margin: auto; 
    }
    .filter-group{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .napSwitch_two,.napSwitch_three{
        margin: 8px 0;
        font-size: 20px;
    }
    .napSwitch_two,.napSwitch_three{
        padding: 8px 35px;
    }
    .napSwitch_three .num1, .num2, .num3 {
        padding: 0px 40px 0px 0px;
    }
    .napSwitch_three .num2 {
        padding: 0px 20px 0px 10px;
    }
    .napSwitch_three .num3 {
        padding: 0px 0px 0px 40px;
    }
.filter-title-pc h2{
        font-size: 40px ;
        text-align: left;
        margin-bottom: 30px;
        
    }
}
/* 寵物卡片 */
.pet-card{
    margin-bottom: 50px;
}
.pet-card-cnotainer{
    width: 327px;
    margin: auto;
}
.pet-card-col {
    padding: 5px;
    cursor: pointer;
    /* border: 1px solid red; */
}

.pet-card-row{
    display: flex;
}
.pet-card-content{
    background-color: var(--subColor_bgc);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 3px 3px #00000015;
    height: 256px;
}
.pet-card-img{
    width: 100%;
    /* border: 1px solid red; */
    object-fit: cover;
    margin: 0;
}
.pet-card-img img{
    width: 100%;
    object-fit: cover;
}

@media screen and (min-width:576px){
    .pet-card-cnotainer{
        width: 83%;
        margin: auto;
    }
    
    .pet-card-row{
        display: flex;
        
    }
    .pet-card-content{
        background-color: var(--subColor_bgc);
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 10px 10px #00000015;
        height: 580px;
    }
}
/* 寵物卡片-資訊text*/
.pet-info{
display: flex;
flex-direction: column;
justify-content: center;
}
.pet-info .name{
    text-align: center;
    padding: 15px 0 5px;
    border-bottom: 1px solid var(--black_500);
    width: 60%;
    margin: auto;
    font-weight: 500;
    color: var(--subColor_text);
}
.pet-info-up{
    display: flex; 
    justify-content: center; 
    color: var(--subColor_text);
    font-size: var(--p_10px);
    padding:10px 0 0;
}
.pet-info-down{
    display: flex; 
    justify-content: center;
    color: var(--subColor_text);
    font-size: var(--p_10px);
    padding: 10px 0 30px ;
}
@media screen and (min-width:576px){
    .pet-card-col{
        padding: 20px 80px;
    }
    .pet-info .name{
        padding: 25px 0 15px;
        width: 80%;
        font-size: var(--headline_32px);
    }
    .pet-info-up{
        font-size: var(--headline_20px);
        padding: 20px 0 0;
    }
    .pet-info-down{
        font-size: var(--headline_20px);
        padding: 20px 0 30px ;
    } 
}
/* 關注按鈕 */
.napBtn_likeBtn{
    width: fit-content;
    padding: 6px 20px;
    margin: auto;
}
.napBtn_likeBtn span{
    font-size: var(--p_14px);
}
button:focus{
    outline: none ;
}
@media screen and (min-width:576px){
    .napBtn_likeBtn{
        width: fit-content;
        padding: 10px 30px;
        margin: auto;
    }
    .napBtn_likeBtn span{
        font-size: var(--headline_2px);
    }  

}
/* 黑色光箱 */
.close{
    position: relative;
    width: 16px;
    overflow: hidden;
    top: 10px;
    left: 90%;
}
.close img{
    width: 100%;
}
.lightBox{
    /* display: none; */
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0%;
    z-index: 1000;
}
.lightBox-container{
    width: 100vw;
    height: 100vh;
    background-color: var(--black_core);
    position: relative;
    color: var(--subColor_text);
    display: flex;
    justify-content: center;
    align-items: center;
}
.lightBox-row{
    color: var(--subColor_text);
    width: 80%;
    position: absolute;
    border-radius: 20px;
    background-color: var(--subColor_bgc);
    text-align: center;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}
.lightBox-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px ;
}
.lightBox-card-img{
    width: 100%;
    height: 220px;
    overflow: hidden;
    padding: 0;
    
    
}
.lightBox-card-img img{
    width: 100%;
    object-fit: cover;
}
/* 光箱info */
.lightBox-card-info{
    padding: 0;
}
.lightBox-card-name {
    font-size: 24px;
    width: fit-content;
    border-left: 3px solid var(--secondaryColor_default);
    margin: 20px 0 10px;
    padding-left: 20px;
    font-weight: 500;
}
.lightBox-card-info h6{
 text-align: left;
 line-height: 1.6rem;
}
.lightBox-card-info p{
font-size: var(--p_12px);
text-align: justify;
line-height: 1.2rem;
}
.lightBox-card-info .napBtn_likeBtn{
  margin: 20px auto 0;  
  
}
@media screen and (min-width:576px){
    .close{
        position: relative;
        width: 24px;
        overflow: hidden;
        top: -30px;
        left: 100%;
    }
    .close img{
        width: 100%;
    }
    .lightBox-row{
        display: flex;
        width: 50%;
        padding: 50px;
        justify-content: space-around;
    }
    .lightBox-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
    .lightBox-card-img{
        margin-right: 20px;
        height: 500px;
    }
    .lightBox-card-info{
        margin-left: 20px;
        padding: 0;
    }
.lightBox-card-name {
        font-size: 40px;
        margin-top: 0;
        border-left: 5px solid var(--secondaryColor_default);
        
    }
    .lightBox-card-info h6{
        
        line-height: 2.6rem;
        font-size: 28px;
       }
       .lightBox-card-info p{
       font-size: 20px;
       line-height: 2rem;
       }
       .lightBox-card-info .napBtn_likeBtn{
        margin: 0;
        margin-left: auto;
       }  

}




