@font-face {
    font-family: custom-font;
    
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap') format("opentype");
    unicode-range: U+4E00-9FFF;
}
@font-face {
    font-family: custom-font;
    src: local(Arial), url('./font/Arial.ttf') format("truetype");
    unicode-range: U+00-024F;
}
:root {
    --primaryColor_default: #BFBD4A;
    --primaryColor_dark: #7C8C38;
    --primaryColor_light: #D6D48A;
    --primaryColor_tint: #E8E7D1;
    --secondaryColor_default: #B18042;
    --secondaryColor_light: #EDDCCE;

    --subColor_bgc: #F7F5F0;
    --subColor_yellow: #FFE266;
    --subColor_lightRed: #F67557;
    --subColor_highLightRed: #B14F42;
    --subColor_text: #4C4C4C;
    
    --black_core: #000000;
    --black_900: #2D2D2D;
    --black_800: #4B4B4B;
    --black_600: #909090;
    --black_500: #CCCCCC;
    --black_400: #ECECEC;
    --black_200: #F6F6F6;
    --white: #ffffff;

    --headline_50px:80px;
    --headline_60px:60px;
    --headline_40px:40px;
    --headline_32px:32px;
    --headline_28px:28px;
    --headline_24px:24px;
    --headline_20px:20px;
    --subtitle_18px:18px;
    --subtitle_16px:16px;
    --p_16px: 16px;
    --p_14px: 14px;
    --p_12px: 12px;
    --p_10px: 10px;

    --border-radious: 20px;
    --btn-radius: 1200px;
    --box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.15);
}

p{
    color: var(--subColor_text);
    line-height: 180% !important;
}
    
button {
    padding: 0px;
    border: none;
    background-color: transparent;
}
.close_lightBox {
    position: fixed;
    top: 24px;
    left: 4px;
}

/* ------ coverPic ------ */
.coverPic {
    width: 100%;
    margin-top: 68px;
    height: 140px;
    background-image: url(./img/k/Forum_cover.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
/* 留言板selector & 大標 */
.selector_wrap {
    margin-bottom: 36px;
}
.selector_wrap h2 {
    color: var(--secondaryColor_default);
    font-size: 32px;
    font-weight: 600;
    margin: auto;
    text-align: center;
    margin-top: 28px;
}
.selector_wrap span {
    font-size: 20px;
    color: var(--secondaryColor_default);
}
.selector_wrap .secSelec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 36px;
    margin-bottom: 22px;
}
.selector_wrap .secSelec #num2 {
    color: var(--secondaryColor_default);
}
.selector_wrap .secSelec button {
    padding: 6px;
    background-color: #fff;
    border: none;
}
.napSwitch_three .sec {
    padding: 14px 30px;
}

.selector_wrap .forum_switch {
    margin: auto;
}

.selector_wrap .secSelec .line {
    height: 16px;
    width: 1px;
    background-color:var(--black_500);
}

/* search bar */
.napSearchBar {
    margin: 0 auto 24px auto;
    width: 280px;
}
.napSearchBar ::-webkit-input-placeholder {
    color: var(--black_500);
}
.form-control:focus {
    outline: none;
}

.me-2 {
    margin: 0 !important;
}
.form-control {
    border-radius: 100px 0px 0px 100px;
    border: none;
    background-color: #F3F3F3;
    border: none;
    padding-left: 30px;
}
.searchIcon {
    background-color:var(--primaryColor_default);
    padding: 0 12px 0 8px;
    border-radius: 0 100px 100px 0;
    border: none;
}
.searchIcon:hover {
    background-color:var(--primaryColor_dark);
}
/* ------ comtCard ------ */
.comtCard_wrap {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 60px;
}
.comtCard {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.comtCard_wrap .comtCard {
    width: 100%;
    aspect-ratio: 1 / 0.5;
    max-height: 240px;
    min-height: 174px;
    background-color: var(--subColor_bgc);
    padding: 16px;
    overflow: hidden;
    cursor: pointer;
}

.comtCard_wrap .member_info {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    margin-bottom: 12px;
}
.comtCard_wrap .member_info .member_pic {
    position: relative;
    width: 28px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 50%;
}
.comtCard_wrap .member_info .member_pic img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.comtCard_wrap .comtCard .napTitle {
    font-size: 18px;
    color: var(--black_900);
    font-weight: 500;
    margin-bottom: 8px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: -moz-box;
     -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.comtCard_wrap .comtCard .comtLabel {
    margin-bottom: 4px;
}
.comtCard_wrap .comtCard .content_wrap{
    padding-right: 6px;
    width: 70%;
}
.comtCard_wrap .comtCard .content_wrap .contentText{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    display:-moz-box;
     -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
/* 卡片小縮圖 */
.comtCard_wrap .comtCard .card_smPic {
    overflow: hidden;
    margin-top: 40px;
    aspect-ratio: 1 / 1;
    background-image: url('./img/k/carousel-4.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}

.comtCard_wrap .comtCard  .iconIndic{
    display: flex;
    position: absolute;
    align-items: end;
    bottom: 16px;
    gap: 24px;
}
.comtCard_wrap .comtCard  .iconIndic .napComt {
    display: flex;
    align-items: center;
    gap: 6px;
}

.comtCard_wrap .comtCard  .iconIndic .napComt img {
    width: 20px;
}

.comtCard_wrap .comtCard  .iconIndic .napComt span{
    color:var(--secondaryColor_default);
    font-size: 14px;
}
/* 卡片的小選單 */
.comtCard_wrap .comtCard .pointMenu {
    width: 5px;
    height: fit-content;
    padding: 16px;
    box-sizing: content-box;
    position: absolute;
    top: 0px;
    right: 0px;
}
.comtCard_wrap .comtCard .pointMenu img{
    width: 100%;
    height: 100%;
}
/* 小選單光箱 */
.comtCard_wrap .comtCard .lightBox_mb {
    height: 20vh;
    width: 100%;
    background-color: var(--white);
    padding: 18px 32px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1001;
    border-radius: 20px 20px 0 0;
    transform: translateY(102%);
    transition: 0.3s;
}
.comtCard_wrap .comtCard .lightBox_mb button{
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 18px;
    font-weight: 300;
}
.comtCard_wrap .comtCard .lightBox_mb .cardDelete{
    margin-bottom: 22px;
}
.lightBox_mb_mask {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    z-index: 1000;
    cursor: pointer;
    display: none;

}
/* 留言卡片展開的光箱  */
.lightBox_comtCard {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    padding: 72px 32px;
    overflow-y: scroll;
    display: none;
}
.lightBox_comtCard::-webkit-scrollbar {
    display: none;
}

/* .lightBox_comtCard .content_wrap {
    position: relative;
    width: 100%;
} */
.lightBox_comtCard .member_info {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.lightBox_comtCard .member_info .member_pic {
    width: 32px;
    height: 32px;
    background-image: url(./img/circle-people.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
}
.lightBox_comtCard .member_info span {
    font-size: 14px;
    margin-left: 8px;
}
.lightBox_comtCard article .content {
    margin-bottom: 88px;
}
.lightBox_comtCard article .others_wrap {
    margin-bottom: 18px;
    align-items: center;
}
.lightBox_comtCard article h3 {
    color:var(--secondaryColor_default);
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 28px;
}
.lightBox_comtCard article .others_wrap .date {
    font-size: 14px;
    margin-left: 12px;
    transform: translateY(4px);
}
.lightBox_comtCard article .comtCard_lightBox_p img {
    width: 100%;
    margin: 32px 0;
    border-radius: 20px;
}
.lightBox_comtCard .comtSection .numIndic{
    gap: 6px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--secondaryColor_default);
}
.lightBox_comtCard .comtSection .numIndic span{
    color: var(--secondaryColor_default);
    font-size: 14px;
}
.lightBox_comtCard .comtSection .messageLev {
    padding: 24px 0px;
    gap: 8px;
}
.lightBox_comtCard .comtSection .messageLev .memberPic {
    width: 36px;
    aspect-ratio: 1 / 1;
    background-image: url(./img/k/carousel-4.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.lightBox_comtCard .comtSection .messageLev .message_input {
    width: 85%;
    border: none;
    border-bottom: 1px solid var(--black_500);
}
.lightBox_comtCard .comtSection .messageLev .message_input::placeholder {
    color: var(--black_600);
    font-size: 14px;
    font-weight: 300;
}
.lightBox_comtCard .comtSection .message_pack .memberPic {
    width: 36px;
    height: 36px;
    background-image: url(./img/k/carousel-3.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.lightBox_comtCard .comtSection .message_pack .messageCard {
    gap: 8px;
    padding: 24px 0;
}
.lightBox_comtCard .comtSection .message_pack .messageCard .content_wrap {
    flex-direction: column;
    gap: 8px;
    width: 85%;
}
.lightBox_comtCard .comtSection .message_pack .messageCard .content_wrap .poster {
    font-size: 16px;
    color: var(--black_800);
}
.lightBox_comtCard .comtSection .message_pack .messageCard .content_wrap .date {
    font-size: 12px;
    color: var(--black_600);
}
.lightBox_comtCard .comtSection .message_pack .messageCard .content_wrap .message_text {
    font-size: 14px;
}
.lightBox_comtCard .comtSection .botHint {
    display: block;
    width: fit-content;
    color: var(--black_500);
    font-weight: 300;
    margin: 72px auto 0px auto;
}


/* 右下發文提示 */
.postBtn_mb {
    position: fixed;
    bottom: 40px;
    right: 20px;
    width: fit-content;
    height: fit-content;
    padding: 14px;
    background-color:var(--primaryColor_default);
    border-radius: 50%;
    box-shadow: 0px 0px 16px #00000064;
    z-index: 20;
    transition: 0.5s;
    opacity: 0;
}
.lightBox_post {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    padding: 72px 32px;
    overflow-y: scroll;
    display: none;
}
.lightBox_post .petSelec_wrap {
    margin-bottom: 28px;
    gap: 20px;
}
.lightBox_post .member_info {
    display: flex;
    align-items: center;
    margin-bottom: 56px;
}
.lightBox_post .member_info .member_pic {
    width: 32px;
    height: 32px;
    background-image: url(./img/circle-people.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
}
.lightBox_post .member_info span {
    font-size: 14px;
    margin-left: 8px;
    
}
/* 寵物類別 */
.lightBox_post .petSelec {
    width: 196px;
}
.lightBox_post .petSelec span {
    font-size: 18px;
    font-weight: 300;
    color: var(--black_500);
}
.lightBox_post .petSelec .line {
    height: 18px;
    width: 1px;
    background-color:var(--black_500);

}
.lightBox_post .petSelec .iconWrap {
    position: relative;
    width: fit-content;
    height: 24px;
}
.lightBox_post .petSelec .iconWrap img{
    width: 100%;
    height: 100%;
}
.lightBox_post .petSelec .iconWrap #activated {
    position: absolute;
    display: none;
}
/* 看板類別 */
.lightBox_post .boardSelec_wrap {
    gap: 20px;
    margin-bottom: 28px;
}
.lightBox_post .boardSelec {
    width: 196px;
}
.lightBox_post .boardSelec .line {
    height: 18px;
    width: 1px;
    background-color:var(--black_500);
}
.lightBox_post .boardSelec button{
    color: var(--black_500);
    font-weight: 300;
    font-size: 18px;
}
.lightBox_post .eventSelec_wrap {
    gap: 20px;
}
.lightBox_post .eventSelec {
    gap: 8px;
}
.lightBox_post .eventSelec .comtLabel {
    height: 28px;
    background-color:#eeeeee;
    /* background-color:#F8EEE8; */
    pointer-events: none;
}
.lightBox_post .eventSelec .comtLabel span {
    font-size: 14px;
    color: var(--black_500);
    font-weight: 300;
    
}






/* footer */

.footer-mobile {
    margin-top: 80px;
}
.footer-mobile p{
    color: var(--white);
}
@media screen and (max-width: 767px){
    .footer-mobile p{
        line-height: 148% !important;
    }
}




















