@font-face {
  font-family: custom-font;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap")
    format("opentype");
  unicode-range: U+4E00-9FFF;
}
@font-face {
  font-family: custom-font;
  src: local(Arial), url("../font/Arial.ttf") format("truetype");
  unicode-range: U+00-024F;
}
:root {
  --primaryColor_default: #bfbd4a;
  --primaryColor_dark: #7c8c38;
  --primaryColor_light: #d6d48a;
  --primaryColor_tint: #d6d48a;
  --secondaryColor_default: #b18042;
  --secondaryColor_light: #eddcce;

  --subColor_bgc: #f7f5f0;
  --subColor_yellow: #ffe266;
  --subColor_lightRed: #f67557;
  --subColor_highLightRed: #b14f42;
  --subColor_text: #4c4c4c;

  --black_core: #000000;
  --black_900: #2d2d2d;
  --black_800: #4b4b4b;
  --black_600: #909090;
  --black_500: #cccccc;
  --black_400: #ececec;
  --black_200: #f6f6f6;
  --white: #ffffff;

  --headline_50px: 80px;
  --headline_60px: 60px;
  --headline_40px: 40px;
  --headline_32px: 32px;
  --headline_28px: 28px;
  --headline_24px: 24px;
  --headline_20px: 20px;
  --subtitle_18px: 18px;
  --subtitle_16px: 16px;
  --p_16px: 16px;
  --p_14px: 14px;
  --p_12px: 12px;
  --p_10px: 10px;

  --border-radious: 20px;
  --btn-radious: 1200px;
  --box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.15);
}

p {
    color: var(--subColor_text);
    line-height: 180%;
}

/* ------first page ------ */
.first_page {
  background-color: var(--subColor_bgc);
}
.first_page .content_wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first_page .logo_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}
.first_page .logo_content > img {
  width: 100px;
}
.first_page .logo_content .line1 {
  margin-top: 14px;
  color: var(--primaryColor_dark);
  font-size: 40px;
  font-weight: bold;
}
.first_page .logo_content .line2 {
  margin-top: 14px;
  color: var(--black_800);
  font-size: 24px;
  font-weight: 600;
}
.first_page .logo_content .line2 #first {
  color: var(--primaryColor_default);
}
.first_page .logo_content .line2 #mid {
  color: var(--subColor_lightRed);
}
.first_page .logo_content .line2 #last {
  color: var(--secondaryColor_default);
}
.first_page .botImg {
  width: 1127px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.first_page .botImg > img {
  width: 100%;
  height: 100%;
  transform: translateX(-137px);
}

/* ------first page ------ */
/* content wrap */
.home_info {
    padding-top: 68px;
    background-color:var(--subColor_bgc);
}
.home_info .content_wrap {
  padding: 86px 40px 80px 40px;
  background-image: url(./img/k/house_mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}
.home_info .napHeadline {
  font-weight: 600;
  color: var(--primaryColor_dark);
  margin-bottom: 16px;
}
.home_info .content_wrap .napText {
    font-size: 14px;
    line-height: 180%;
}
.home_info .story_wrap, .home_info .field_intro {
    margin-bottom: 46px;
}
.home_info .story_wrap .napHeadline {
  font-size: 32px;
}
.home_info .field_intro .napHeadline {
  font-size: 24px;
  line-height: 140%;
}

/* bot_img */
.home_info .bot_img {
  position: relative;
}
.home_info .bot_img #hand {
  width: 100%;
  height: 240px;
  position: absolute;
  top: -100%;
  left: 0;
  background-image: url(./img/k/hand.png);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover ;
}

.home_info .bot_img .napimg {
    width: 100%;
    height: 182px;
    background-image: url(./img/k/park\ pic.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

/* ------ info_points ------ */

.info_points {
  background-image: url(./img/k/illustration-76.png);
  background-size: cover;
  padding: 68px 40px 280px 40px;
  position: relative;
}
.info_points .infoBoxs {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index:2;
}
.info_points .box{
  background-color:var(--white);
  padding: 54px 24px 48px ;
  text-align: center;
}
.info_points .box h3{
  font-size: 28px;
  color: var(--primaryColor_dark);
  font-weight: 600;
  margin-bottom: 24px;
}
.info_points .box p{
  margin-bottom: 24px;
  
}
.info_points .infoBoxs a {
  font-size: 18px;
  margin: auto;
}
/* pics */
.pool, .poolPeople, .fence {
  position: absolute;
}
.info_points .pool {
  position: absolute;
  bottom: 0;
  right: 0%;
  background-image: url(./img/k/pool-mb.png);
  background-position:0% 100% ;
  background-repeat: no-repeat;
  width: 60%;
  height: 483px;
  z-index: 1;
}
.info_points .poolPeople {
  position: absolute;
  bottom: 82px;
  left: 0;
  background-image: url(./img/k/illustration-58.png);
  background-repeat: no-repeat;
  background-position:0% 100% ;
  background-size:contain;
  width: 277px;
  height: 126px;
  z-index: 5;
}
.info_points .fence {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(./img/k/illustration-77.png);
  background-position:0% 100% ;
  background-size: cover;
  width: 216px;
  height: 54px;
}

/* ------ explain ------ */
.explain {
  padding:  80px 40px 140px;
  background-image: url(./img/k/cloud-mb.svg);
  background-position: 0% 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.explain .cause {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: auto auto 56px;
  width: fit-content;
}
.explain .cause p{
  line-height: 200%;
}
.explain .cause .sec1, .explain .cause .sec2,.explain .cause .sec3 {
  width: 214px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* 圈圈樣式 */
.explain .cause .sec1 {
  background-color:#E8E7D1;
}
.explain .cause .sec1 .hintNum {
  color: var(--primaryColor_dark);
}
.explain .cause .sec2 {
  background-color: var(--white);
  border: 4px solid var(--primaryColor_default);
} 
.explain .cause .sec2 .hintNum {
  color: var(--secondaryColor_default);
}
.explain .cause .sec3 {
  background-color: #D6D48A;
}
.explain .cause .sec3 .hintNum {
  color:var(--white);
}
.explain .cause .hintNum {
  font-size: 24px;
  font-weight: 600;
}
/*  */
.explain {
  position: relative;
  margin-bottom: 82px;
}
.explain .explainText {
  margin-bottom: 32px;
}
.explain .sleepPic{
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin: auto;
  outline: 2px solid var(--primaryColor_dark);
  border-radius: var(--border-radious);
  z-index: 0;
}
.explain .sleepPic #num1{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translate(3%, 3%);
  z-index: -1;
}
.explain .sleepPic #num2{
  position: absolute;
  bottom: -50px;
  width: 100%;
  transform: translateX(-40%) scaleX(-1) ;
}
.explain .contentWrap .sec1 {
  font-weight: 600;
  color: var(--secondaryColor_default);
  font-size: 24px;
  margin-bottom: 20px;
}
.explain .contentWrap .sec2 {
  font-weight: 600;
  color: var(--secondaryColor_default);
  font-size: 32px;
  margin-bottom: 20px;
}
.explain .contentWrap .explainText p{
  font-size: 14px;
  margin-bottom: 24px;
}
.explain .paws  {
  position: absolute;
  bottom: -84px;
}
.explain .paws img {
  width: 280px;
  transform: rotate(-10deg);
}


/*------ napSteps------  */
.napSteps {
  text-align: center;
  padding: 0px 40px;
}
.napSteps .wrap_mb .line {
  margin: 36px 0px;
}
.napSteps .wrap_mb .cardWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.napSteps .wrap_mb .napCard #back {
  transform: rotateY(180deg) ;
}
.napSteps .wrap_mb .napCard {
  width: 100%;
  max-width: 455px;
  position: relative;
  transform-style: preserve-3d;
  transition: .5s;
  border-radius: 20px;
  aspect-ratio: 1 / 1.238;
}
.napSteps .wrap_mb .napCard img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

/* btn  */
.napBtn_fixed_filled {
  width: 50vw;
  max-width: ;
  margin: auto;
}





