@font-face {
    font-family: custom-font;
    
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap') format("opentype");
    unicode-range: U+4E00-9FFF;
}
@font-face {
    font-family: custom-font;
    src: local(Arial), url('./font/Arial.ttf') format("truetype");
    unicode-range: U+00-024F;
}
:root {
    --primaryColor_default: #BFBD4A;
    --primaryColor_dark: #7C8C38;
    --primaryColor_light: #D6D48A;
    --primaryColor_tint: #E8E7D1;
    --secondaryColor_default: #B18042;
    --secondaryColor_light: #EDDCCE;

    --subColor_bgc: #F7F5F0;
    --subColor_yellow: #FFE266;
    --subColor_lightRed: #F67557;
    --subColor_highLightRed: #B14F42;
    --subColor_text: #4C4C4C;
    
    --black_core: #000000;
    --black_900: #2D2D2D;
    --black_800: #4B4B4B;
    --black_600: #909090;
    --black_500: #CCCCCC;
    --black_400: #ECECEC;
    --black_200: #F6F6F6;
    --white: #ffffff;

    --headline_50px:80px;
    --headline_60px:60px;
    --headline_40px:40px;
    --headline_32px:32px;
    --headline_28px:28px;
    --headline_24px:24px;
    --headline_20px:20px;
    --subtitle_18px:18px;
    --subtitle_16px:16px;
    --p_16px: 16px;
    --p_14px: 14px;
    --p_12px: 12px;
    --p_10px: 10px;

    --border-radious: 20px;
    --btn-radius: 1200px;
    --box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.15);
}
*{
    font-family: custom-font;        
}
html{
    width: 100%;
    font-family: custom-font; 
}
.wrap{
    background: url(../img/self/n/game/new-19.png);
    background-repeat: no-repeat;
    background-position:  0;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    
}

/* ---------------------------------------- */

.bikegirl{
    position: absolute;
    top: 80px;
    left: 20px;
    width: 100%;
    height: 100vh;
}
.fires{
    position: absolute;
    top: 80px;
    left: 20px;
    width: 100%;
    height: 100vh;
    
}


.fire1{
    width: 60%;
    height: 500px;
    
    position: absolute;
    animation: fire1 16s 2s  infinite reverse;
    opacity: 0;
}
.fire2{
    width: 60%;
    height: 500px;
    position: absolute;
    animation: fire2 12s 3s infinite reverse;
    opacity: 0;
}

.fire3{
    width: 60%;
    height: 500px;
    position: absolute;
    animation: fire3 8s 4s infinite reverse;
    opacity: 0;
}

.fire4{
    width: 60%;
    height: 500px;
    position: absolute;
    animation: fire4 4s 5s infinite reverse;
    opacity: 0;
}


.wrap .people-logo{
    width: 250px;
    position: absolute;
    top: 680px;
    left: 40%;
}

.stars {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .stars .star{
    background-color: #fff;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    z-index: 50;
    animation: starDown 2s  infinite reverse;
  }
  .stars .star1 {
    position: absolute;
    left: 85%;
    top: 52%;
    animation-delay: -0.1s;
  }
  .stars .star2 {
    position: absolute;
    left: 90%;
    top: 36%;
    animation-delay: -0.2s;
  }
  .stars .star3 {
    position: absolute;
    left: 4%;
    top: 22%;
    animation-delay: -0.3s;
  }
  .stars .star4 {
    position: absolute;
    left: 10%;
    top: 8%;
    animation-delay: -0.4s;
  }
  .stars .star5 {
    position: absolute;
    left: 67%;
    top: 55%;
    animation-delay: -0.5s;
  }
  
  
  .stars .star6 {
    position: absolute;
    left: 87%;
    top: 0%;
    animation-delay: -0.8s;
  }
  .stars .star7 {
    position: absolute;
    left: 5%;
    top: 59%;
    animation-delay: -0.9s;
  }
  .stars .star8 {
    position: absolute;
    left: 52%;
    top: 55%;
    animation-delay: -0.1s;
  }
  .stars .star9 {
    position: absolute;
    left: 9;
    top: 36;
    animation-delay: -0.2s;
  }
  .stars .star10 {
    position: absolute;
    left: 75%;
    top: 27%;
    animation-delay: -0.3s;
  }
  .stars .star11 {
    position: absolute;
    left: 38%;
    top: 62%;
    animation-delay: -0.4s;
  }
  .stars .star12 {
    position: absolute;
    left: 55%;
    top: 3%;
    animation-delay: -0.5s;
  }
  .stars .star13 {
    position: absolute;
    left: 74%;
    top: 40%;
    animation-delay: -0.6s;
  }
  .stars .star14 {
    position: absolute;
    left: 25%;
    top: 48%;
    animation-delay: -0.7s;
  }
  .stars .star15 {
    position: absolute;
    left: 44%;
    top: 39%;
    animation-delay: -0.8s;
  }
  .stars .star16 {
    position: absolute;
    left: 94%;
    top: 14%;
    animation-delay: -0.9s;
  }
  .stars .star17 {
    position: absolute;
    left: 44%;
    top: 17%;
    animation-delay: -1.0s;
  }

  .stars .star18 {
    position: absolute;
    left: 10%;
    top: 42%;
    animation-delay: -2.1s;
  }
  .stars .star19 {
    position: absolute;
    left: 80%;
    top: 70%;
    animation-delay: -2.2s;
  }
  .stars .star20 {
    position: absolute;
    left: 83%;
    top: 13%;
    animation-delay: -2.3s;
  }
  .stars .star21 {
    position: absolute;
    left: 23%;
    top: 12%;
    animation-delay: -2.4s;
  }
  .stars .star22 {
    position: absolute;
    left: 33%;
    top: 27%;
    animation-delay: -2.5s;
  }
  .stars .star23 {
    position: absolute;
    left: 60%;
    top: 18%;
    animation-delay: -2.6s;
  }
  .stars .star24 {
    position: absolute;
    left: 50%;
    top: 43%;
    animation-delay: -2.7s;
  }
  
  .stars .star25 {
    position: absolute;
    left: 20%;
    top: 30%;
    animation-delay: -2.9s;
  }
  .stars .star26 {
    position: absolute;
    left: 26%;
    top: 2%;
    animation-delay: -1.5s;
  }

/* ------------動畫------------------- */


@keyframes starDown {
    0%, 100% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
   
   
      0%{
        width: 3px;
        height: 80px;
        /* transform:rotate(0deg); */
      }
      3% {
        height: 50px;
        width: 3px;
        /* transform:rotate(40deg); */
        

      }

      80%{
        /* height: 100px; */
        width: 3px;
        /* transform:rotate(40deg); */
        

      }

      100%{
        height: 3px;
        width: 3px;
        
      }


      0%, 100% {
        transform:rotate(40deg);
      }
      50% {
        transform:rotate(40deg);
        

      }

    
   
  }


    @keyframes fireup {
    0% {
        transform:  translate(0px, 0px);
    }
      100% {
        transform:  translate(0px, 200px);
    }
    0% {
        opacity: 1;
    }
      100% {
        opacity: 0;
    }
    
    
    }

    @keyframes fire1 {
        0%, 100% {
            opacity: 1;
        }
        50%{
            opacity: 0;
        }
    }
    @keyframes fire2 {
        0%, 100% {
            opacity: 1;
        }
        50%{
            opacity: 0;
        }
    }
    @keyframes fire3 {
        0%, 100% {
            opacity: 1;
        }
        50%{
            opacity: 0;
        }
    }
    @keyframes fire4 {
        0%, 100% {
            opacity: 1;
        }
        50%{
            opacity: 0;
        }
    }

   



/* ------------動畫------------------- */



.close {
    
    position: absolute;
    top: 180px;
    right: 20%;
    z-index: 60;
    
}

.content{
    background-color: var(--subColor_bgc);
    padding-top: 40px;
    padding-bottom: 51px;
    border-radius: 20px;
    width: 100%;
    position: relative;
    z-index: 10;

}


.part{
    width: 100%;
}

.title{
    padding-top: 15px;
    /* padding-bottom: 15px; */
    border-bottom: 1px solid var(--black_600);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 4px;
    
    
    
}


.logo img{

    display: inline;
}
h3{
    font-size: var(--headline_28px);
    /* font-weight: 600; */
    color: #4C4C4C;
    font-family: custom-font; 
}

.part2 h3{
    font-size: var(--headline_24px);
    font-weight: 500;
    color: #4C4C4C;
}
.part3 h3{
    font-size: var(--headline_24px);
    font-weight: 500;
    color: #4C4C4C;
}

.up-part{
    padding-left: 2%;
    padding-right: 2%;
}

label{
    font: inherit;
}

.form{
    font-size: 17.5px;
    color: var(--subColor_text);
    /* font-weight: 700; */
    width: 100%;
    text-shadow: none;
    
    /* padding-left: 8px; */
    /* padding-right: 8px; */
}
.content{
    width: 375px;
    /* height: 586px; */
    
}



input{
    height: 32px;
    
    /* width: 344px; */
    
    
}
.form-label{
    margin-bottom: 0;
    
    color: var(--subColor_text);
    
    font: inherit;
    /* font-weight: 700; */
    font-size: 17.5px;
    letter-spacing: 1px;
    /* font-size: var(--subtitle_18px); */
    
}

.form-control{
    /* font-weight: 400; */
    /* font-size: 15px; */
}

form .endbtn{
    /* height: 40px; */
    padding-top: 6px;
    margin-top: 60px;
    width: 150px;
    height: 40px;
    background-color: var(--primaryColor_dark);
    border-radius: var(--btn-radius);
    border: 1px solid var(--primaryColor_dark);
    font-size: 18px;
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    
    color: #ffffff;

}

.btn-box2{
    /* height: 40px; */
    padding-top: 30px;
    /* margin-bottom: 89px; */
    width: 150px;
    background-color: var(--primaryColor_dark);
    border-radius: var(--btn-radius);
    border: 1px solid var(--primaryColor_dark);
    font-size: 18px;
    

}





.title-sm{
    color:var(--subColor_text);
    font-weight: 600;
    padding-bottom: 12px
    
}
.title-sm p{
    margin-bottom: 0;
    
    /* font-size: 16px; */
    font-family: custom-font; 
    line-height: 1;
    
}

.line{
    border-bottom: 1px solid var(--black_600);
    /* margin-left: 8px; */
    /* margin-right: 8px; */
    margin-bottom: 10px;
       
}

.community .pic{
    background-color: #C0CC8E;
    
    padding-left: 10%;
    padding-right: 10%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
}
.community .text{
    background-color: #E8E7D1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    font-family: custom-font; 
    color:var(--subColor_text);
    border-radius: 0px 10px 10px 0px;
    
}
a{
    text-decoration:none
}
.community .text p{
    margin-bottom: 0;
    font-size: 15px;

}

.say  p{
    color: var(--black_600);
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
}

.say .right p{
    color: #6F6F6F;
    font-weight: 600;
    padding-left: 10px;
    /* text-shadow: 0 0 0.5px #000; */
    
}


@media (min-width: 1200px) {

    .login-pc{
        /* background-color:var(--subColor_text); */
        /* background-image: url(../img/self/n/bg/bg-2.png); */
        padding-right: 5%;
        width: 73%;
        /* height: 750px; */
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-position:center;
        background-size: contain;
        /* border-radius: 100px 150px; */
        
        
    }

    .login-pc1{
        /* background-color:var(--subColor_text); */
        background-image: url(../img/self/n/bg/Default1.png);
        width: 80%;
        /* height: 750px; */
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-position:center;
        background-size: contain;
        /* border-radius: 100px 150px; */
         
    }

    .textbox{
        /* background-color: rgb(177, 65, 65); */
        padding: 5%;
    }

    

  }

  @media (max-width: 1200px) {
    
    .wrap{
        background-color:var(--subColor_bgc);
        
    }

    .content{
        width: 330px;
        height: 586px;
        
    }

    .bikegirl{
        display: none;
    }

    .close {
    
        position: absolute;
        top: 140px;
        right: 50px;
        
    }

  }
  .invalid-feedback{
    font-size: 8px;
    margin-top: 0;
  }

 


/* ------------------- */

 .part2{
    height: 89px;
    padding-top: 20px;
    /* display: none; */
}

/* .content2 form{
    display: none;
} */

.part2 .title{
    padding-top: 15px;
    /* border-bottom: 1px solid var(--black_600); */
    margin-left: 5%;
    margin-right: 5%;
    font-family: custom-font; 
    border: none;
    
}



.stepbox{
    /* background-color: rgb(225, 94, 94); */
    position: relative;
    height: 40px;
    width: 279px;
    color: var(--black_500);
}
.steps .dot{
    width: 12px;
    height: 12px;
    background-color: var(--black_500);
    border-radius: 50%;
    margin-bottom: 8px;
    /* position: absolute; */
}

.steps{
    position: absolute;

    
}

.step{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    
    
}


.part2 .step1 .dot{
    background-color: var(--primaryColor_dark);
}
.part2 .step1 .text{
    color:var(--primaryColor_dark);
}

.stepline{
    border-top: 1px solid var(--black_500);
    position: absolute;
    width: 160px;
    top: 15%; 
    
    /* z-index: 20; */
    
}

.content1 .form-label{
    /* font-weight: 700; */
}


/* .content2 .btn-box{
    height: 100px;
    padding-top: 116px;
    margin-bottom:60px;
    width: 150px;
    

} */

/* 

.content2 .btn-box .btn{
    background-color: var(--primaryColor_dark);
    border-radius: var(--btn-radius);
    border: 1px solid var(--primaryColor_dark);
    font-size: 18px;
    
}

.content2 .btn-box p{
    margin-bottom: 0;
    
} */


/* ---------------------------- */

.content1 .part{
    height: 89px;
    padding-top: 10px;
    /* display: none; */
    
}


.part3 .title{
    padding-top: 15px;
    /* border-bottom: 1px solid var(--black_600); */
    margin-left: 5%;
    margin-right: 5%;
    font-family: custom-font; 
    border: none;
    
}



/* .content3 .btn-box{
    height: 100px;
    padding-top: 47px;
    margin-bottom:60px;
    width: 150px;
    

} */



.part3 .step2 .dot{
    background-color: var(--primaryColor_dark);
}
.part3 .step2 .text{
    color:var(--primaryColor_dark);
}





/* ---------------------- */

.content4 .part{
    padding-top: 13px;
}

.content4 .up-part{
    padding-top: 40px;
}



.content4 .title{
    padding-top: 15px;
    /* border-bottom: 1px solid var(--black_600); */
    margin-left: 5%;
    margin-right: 5%;
    font-family: custom-font; 
    border: none;
    
}

.content4 .btn-box{
    /* height: 100px; */
    padding-top: 37px;
    margin-bottom:93px;
    width: 150px;
    

}

.content4 .btn-box .btn{
    background-color: var(--primaryColor_dark);
    border-radius: var(--btn-radius);
    border: 1px solid var(--primaryColor_dark);
    font-size: 18px;
    color: rgb(255, 255, 255);
    
}

.content4 .btn-box p{
    margin-bottom: 0;
    
}

.content4 .step3 .dot{
    background-color: var(--primaryColor_dark);
}
.content4 .step3 .text{
    color:var(--primaryColor_dark);
}


/* ----------------------- */

.email{
    margin-top: 30px;
}


.content1 .part2{
    display: none;
}
.password{
    display: none;
    margin-top: 30px;
}
.name{
    display: none;
}
.mobile{
    display: none;
}
.birthdate{
    display: none;
}
.next2{
    display: none;
    background-color:var(--primaryColor_dark);
    width: 150px;
    height: 40px;
    font-size: 18px;
    border-radius: var(--btn-radius);
    color: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
    padding-top: 7px;
    margin-top: 100px;
    margin-bottom: 85px;
    font-weight: normal;
    
}

.endbtn{
    display: none;
    color: rgb(255, 255, 255);
    padding-top: 7px;
}

.endbtn p{
    color: rgb(255, 255, 255);
}

.content1 .part3{
    display: none;
}

.next{
    background-color:var(--primaryColor_dark);
    width: 150px;
    height: 40px;
    font-size: 18px;
    border-radius: var(--btn-radius);
    color: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
    padding-top: 7px;
    margin-top: 40px;
    margin-bottom: 85px;
    font-weight: normal;
}

.msgerror{
    display: none;
    position: relative;
    
}
.msgerror1{
    display: none;
    position: relative;
    
    
}

.msgerror3{
    display: none;
    position: relative;
    
    
}

.msgerror2{
    display: none;
    position: relative;
    
    
}

.msgerror2 p{
    font-size: 14px;
    color: var(--subColor_highLightRed);
    margin-bottom: 0;
    margin-left: 40px;
    position: absolute;
    top: -10px;
    
    
}

.msgerror p{
    font-size: 14px;
    color: var(--subColor_highLightRed);
    margin-bottom: 0;
    position: absolute;
    top: -10px;
    
    
}


.msgerror1 p{
    font-size: 14px;
    color: var(--subColor_highLightRed);
    margin-bottom: 0;
    position: absolute;
    top: -10px;
    
    
}


.msgerror3 p{
    font-size: 14px;
    color: var(--subColor_highLightRed);
    margin-bottom: 0;
    position: absolute;
    top: -10px;
    
}

button:hover{
    background-color: var(--primaryColor_light);
    border: none;
    color: rgb(255, 255, 255);

}



/* ------------------password forget---------------------- */
.forget{
    background-color:var(--primaryColor_dark);
    width: 150px;
    height: 40px;
    font-size: 18px;
    border-radius: var(--btn-radius);
    color: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
    padding-top: 7px;
    margin-top: 40px;
    margin-bottom: 85px;
    margin-left: 112.5px;
    
    font-weight: normal;
}
.forget_change{
    background-color:var(--primaryColor_dark);
    width: 150px;
    height: 40px;
    font-size: 18px;
    border-radius: var(--btn-radius);
    color: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
    padding-top: 7px;
    margin-top: 50px;
    margin-bottom: 155px;
    margin-left: 112.5px;
    
    font-weight: normal;
}
