@font-face {
    font-family: custom-font;
    
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap') format("opentype");
    unicode-range: U+4E00-9FFF;
}
@font-face {
    font-family: custom-font;
    src: local(Arial), url('./font/Arial.ttf') format("truetype");
    unicode-range: U+00-024F;
}
:root {
    --primaryColor_default: #BFBD4A;
    --primaryColor_dark: #7C8C38;
    --primaryColor_light: #D6D48A;
    --primaryColor_tint: #E8E7D1;
    --secondaryColor_default: #B18042;
    --secondaryColor_light: #EDDCCE;

    --subColor_bgc: #F7F5F0;
    --subColor_yellow: #FFE266;
    --subColor_lightRed: #F67557;
    --subColor_highLightRed: #B14F42;
    --subColor_text: #4C4C4C;
    
    --black_core: #000000;
    --black_900: #2D2D2D;
    --black_800: #4B4B4B;
    --black_600: #909090;
    --black_500: #CCCCCC;
    --black_400: #ECECEC;
    --black_200: #F6F6F6;
    --white: #ffffff;

    --headline_50px:80px;
    --headline_60px:60px;
    --headline_40px:40px;
    --headline_32px:32px;
    --headline_28px:28px;
    --headline_24px:24px;
    --headline_20px:20px;
    --subtitle_18px:18px;
    --subtitle_16px:16px;
    --p_16px: 16px;
    --p_14px: 14px;
    --p_12px: 12px;
    --p_10px: 10px;

    --border-radious: 20px;
    --btn-radius: 1200px;
    --box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.15);
}
*{
    font-family: custom-font;     
}
body{
    width: 100%;
    font-family: custom-font;  
}
.wrap{
    /* background-color: var(--subColor_text); */
    background: url(../img/self/n/member/bg/bgc-water.png);
    background-repeat: no-repeat;
    background-position:  0;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    
    
}

/* ----------------裝飾人---------------- */




.play-people .people-man{
    width: 250px;
    position: absolute;
    top: 300px;
    left: 15%;
    animation: peopleHit 10s  infinite ;

}


.play-people .people-ball{
    width: 100px;
    position: absolute;
    top: 270px;
    left: 24%;
    animation: ballFly 10s  infinite ;
}
.play-people .people-girl1{
    width: 250px;
    position: absolute;
    top: 370px;
    left: 35%;
    animation: peopleHit 10s 2s infinite ;
}
.play-people .people-girl2{
    width: 250px;
    position: absolute;
    top: 450px;
    left: 22%;
    animation: peopleMove 10s 1s infinite ;
}
.play-people .people-dog{
    width: 210px;
    position: absolute;
    top: 380px;
    left: 45%;
    animation: dogFly 10s  infinite ;
}
.play-people .people-logo{
    width: 250px;
    position: absolute;
    top: 600px;
    left: 33%;
}


/* ------------動畫------------------- */



  @keyframes peopleMove {

      0%, 100% {
        transform: translate(0px, 0px);
        
      }
      50% {
        transform: translate(0px, 20px);
      }

      

    }

    @keyframes peopleHit {

        0%, 100% {
          transform: translate(0px, 0px);
          
        }
        50% {
          transform: translate(0px, 20px);
        }
  
        0%, 100% {
          transform: rotate(0deg);
          
        }
        50% {
          transform: rotate(20deg);
        }
  
      }

      @keyframes ballFly {

       

        0% {
          transform: translate(0px, 0px),;
        }
        30% {
            transform: translate(200px, 40px) rotate(360deg);
          }

        60% {
          transform: translate(370px, 60px) rotate(0deg);
        }

        100% {
            transform: translate(0px, 0px) rotate(360deg);
          }
  
        
  
      }

      @keyframes dogFly {

       

        0% {
          transform: translate(00px, 0px),;
        }
        

        60% {
          transform: translate(20px, -50px) rotate(20deg);
        }

        100% {
            transform: translate(00px, 0px);
          }
  
        
  
      }


/* ------------動畫------------------- */


.close {
    
    position: absolute;
    top: 180px;
    right: 20%;
    
}

.content{
    background-color: var(--black_200);
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 20px;
    width: 100%;
}

.part{
    width: 100%;
}

.title{
    padding-top: 15px;
    border-bottom: 1px solid var(--black_600);
    /* margin-left: 5%;
    margin-right: 5%; */
    margin-bottom: 4px;
    font-family: custom-font; 
    
    
}


.logo img{

    display: inline;
}


h3{
    font-size: var(--headline_28px);
    /* font-weight: 600; */
    color: var(--subColor_text);
    font-family: custom-font; 
}

.up-part{
    /* padding-left: 2%;
    padding-right: 2%; */
}

form{
    font-size: 18px;
    color: var(--subColor_text);
    font-weight: 500;
    /* text-shadow: 0 0 0.5px #000; */
    position: relative;
}

input{
    height: 32px;
    /* width: 100%; */
    
    
}
.form-label{
    margin-bottom: 0;
    color: var(--subColor_text);
    font-size: var(--subtitle_18px);
    
}

.forget{
    position: absolute;
    right: 10px;
    
}


.forget a{
    color: var(--subColor_text);
    font-weight: normal;
    font-size: var(--subtitle_16px)
    
}

.btn-box{
    /* height: 40px; */
    padding-top: 70px;
    margin-bottom: 30px;
    width: 150px;
    

}

.btn-box .btn{
    background-color: var(--primaryColor_dark);
    border-radius: var(--btn-radius);
    border: 1px solid var(--primaryColor_dark);
    font-size: 18px;
    
}

.title-sm{
    color:var(--subColor_text);
    font-weight: 600;
    padding-bottom: 12px;
    font-family: custom-font; 

}
.title-sm p{
    margin-bottom: 0;
    
    font-size: 16px;
    font-family: custom-font; 
    line-height: 1;
}

.line{
    border-bottom: 1px solid var(--black_600);
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 10px;
    
    
}

.community .pic{
    background-color: #C0CC8E;
    
    padding-left: 10%;
    padding-right: 10%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
}
.community .text{
    background-color: #E8E7D1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    
    color:var(--subColor_text);
    border-radius: 0px 10px 10px 0px;
    
}
a{
    text-decoration:none
}
.community .text p{
    margin-bottom: 0;
    font-size: 16px;
    font-family: custom-font;  
}

.say  p{
    color: var(--black_600);
    /* font-weight: 700; */
    font-size: 16px;
    margin-bottom: 0;
}

.say .right p{
    color: var(--subColor_text);
    font-weight: 700;
    padding-left: 15px;
    /* text-shadow: 0 0 0.5px #000; */
    
}


@media (min-width: 1200px) {

    .login-pc{
        width: 70%;
        background-repeat: no-repeat;
        background-position:center;
        background-size: contain;
    }

    .login-pc1{
        width: 70%;
        background-repeat: no-repeat;
        background-position:center;
        background-size: contain;
    }

    .textbox{
        padding: 5%;
    }

  }

  @media (max-width: 1200px) {
    .content{
        background-color: var(--black_200);
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 20px;
        width: 88%;
    }

    .close {
        position: absolute;
        top: 60px;
        right: 50px;
        
    }

    .play-people{
        display: none;
    }



  
  .invalid-feedback{
    font-size: 8px;
    margin-top: 0;
  }


  .btn-box2{
    padding-top: 80px;
    margin-bottom: 90px;
}
}