@font-face {
    font-family: custom-font;
    
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap') format("opentype");
    unicode-range: U+4E00-9FFF;
}
@font-face {
    font-family: custom-font;
    src: local(Arial), url('./font/Arial.ttf') format("truetype");
    unicode-range: U+00-024F;
}
:root {
    --primaryColor_default: #BFBD4A;
    --primaryColor_dark: #7C8C38;
    --primaryColor_light: #D6D48A;
    --primaryColor_tint: #E8E7D1;
    --secondaryColor_default: #B18042;
    --secondaryColor_light: #EDDCCE;

    --subColor_bgc: #F7F5F0;
    --subColor_yellow: #FFE266;
    --subColor_lightRed: #F67557;
    --subColor_highLightRed: #B14F42;
    --subColor_text: #4C4C4C;
    
    --black_core: #000000;
    --black_900: #2D2D2D;
    --black_800: #4B4B4B;
    --black_600: #909090;
    --black_500: #CCCCCC;
    --black_400: #ECECEC;
    --black_200: #F6F6F6;
    --white: #ffffff;

    --headline_50px:80px;
    --headline_60px:60px;
    --headline_40px:40px;
    --headline_32px:32px;
    --headline_28px:28px;
    --headline_24px:24px;
    --headline_20px:20px;
    --subtitle_18px:18px;
    --subtitle_16px:16px;
    --p_16px: 16px;
    --p_14px: 14px;
    --p_12px: 12px;
    --p_10px: 10px;

    --border-radious: 20px;
    --btn-radius: 1200px;
    --box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.15);
}

*{
    box-sizing: border-box;
}

body{
    font-family: custom-font;
    color: var(--subColor_text);
}

.all-container{
    min-width: 375px;
    margin-top: 80px;
}
    @media screen and (min-width: 768px){
        .all-container{
            /* padding: 0 5%; */
            max-width: 1440px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            margin-top: 132px;
        }
    }

.cart-detail{
    width: 90%;
    margin: auto;
}
    @media screen and (min-width: 768px){
        .cart-detail{
            width: 50%;
            margin: 0;
        }
    }

/* ---------分別結帳提示--------- */
.cart-note{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-bottom: 20px;
}
    @media screen and (min-width: 768px){
        .cart-note{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
    }

.warn-img{
    width: 30px;
    padding-left: 10px;
    margin-right: 15px;
}
    @media screen and (min-width: 768px){
        .warn-img{
            width: 43px;
            margin-right: 20px;
        }
    }

.warn-img svg{
    width: 30px;
}
    @media screen and (min-width: 768px){
        .warn-img svg{
            width: 43px;
        }
    }

.cart-note-content p{
    color: var(--subColor_highLightRed);
    font-size: var(--p_14px);
    line-height: 1rem;
    margin-left: 5px;
}
    @media screen and (min-width: 768px){
        .cart-note-content p{
            font-size: var(--headline_20px);
            line-height: 1.5rem;
            
        }
    }

/* -------------正在結帳的頁面------------ */
.cart-page{
    display: flex;
    margin: auto;
    width: 100%;
}

.cart-page .event-cart{
    border: solid 1px var(--secondaryColor_default);
    font-size: var(--subtitle_18px);
    font-weight: 500;
    color: var(--secondaryColor_default);
    width: 100%;
    text-align: center;
    padding: 10px;
}
    @media screen and (min-width: 768px){
        .cart-page .event-cart{
            border: solid 2px var(--secondaryColor_default);
            font-size: var(--headline_24px);
            padding: 15px;
        }
    }
.inactive-cart, .active-cart{
    width: 50%;
    text-decoration: none;
    cursor: pointer;
}

.inactive-cart:hover, .active-cart:hover{
    transform: translateY(-5px);
    transition: .3s;
}

.cart-page .room-cart{
    border: solid 1px var(--secondaryColor_default);
    font-size: var(--subtitle_18px);
    font-weight: 500;
    background-color: var(--secondaryColor_default);
    color: var(--white);
    width: 100%;
    text-align: center;
    padding: 10px;
}
    @media screen and (min-width: 768px){
        .cart-page .room-cart{
            border: solid 2px var(--secondaryColor_default);
            font-size: var(--headline_24px);
            padding: 15px;
        }
    }

.triangle{
    display: flex;
    width: 100%;
}
.triangle svg{
    width: 21px;
    margin: 0 auto;
    padding-bottom: 12px;
}
    @media screen and (min-width: 768px){
        .triangle svg{
            width: 35px;
        }
    }

/* -------------步驟進度------------ */
.step-rate{
    display: flex;
    width: 100%;
    margin: auto;
    margin: 15px 0;
}
    @media screen and (min-width: 768px){
        .step-rate{
            width: 100%;
            margin: 30px 0;
        }
    }
.step-rate img{
    margin: auto;
}
    @media screen and (min-width: 768px){
        .step-rate img{
            margin: auto;
        }
    }

/* -------------明細內容------------ */
.cart-detail-content{
    margin-bottom: 55px;
}
    @media screen and (min-width: 768px){
        .cart-detail-content{
            margin-bottom: 65px;
        }
    }
.per-cart-item{
    display: flex;
    align-items: center;
    margin: 20px 0;
    position: relative;
}
    @media screen and (min-width: 768px){
        .per-cart-item{
            margin: 40px 0;
        }
    }

.per-cart-item::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--primaryColor_dark);
    bottom: -10px;
    
}
    @media screen and (min-width: 768px){
        .per-cart-item::after{
            bottom: -20px;
            
        }
    }

.per-cart-item .room-img img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
    @media screen and (min-width: 768px){
        .per-cart-item .room-img img{
            width: 230px;
            height: 158px;
            object-fit: cover;
        }
    }

.per-cart-item .item-list .room-name{
    font-size: var(--subtitle_18px);
    margin-bottom: 10px;
}
    @media screen and (min-width: 768px){
        .per-cart-item .item-list .room-name{
            font-size: var(--headline_28px);
            margin-bottom: 25px;
        }
    }

.per-cart-item .item-list{
    margin-left: 8px;
    width: 100%;
}
    @media screen and (min-width: 768px){
        .per-cart-item .item-list{
            margin-left: 20px;
            width: 100%;
        }
    }
    
.per-cart-item .item-list .room-night{
    display: flex;
}

.per-cart-item .item-list .stay-date, .room-night{
    font-size: var(--p_12px);
    margin-top: 8px;
}
    @media screen and (min-width: 768px){
        .per-cart-item .item-list .stay-date, .room-night{
            font-size: var(--subtitle_18px);
            margin-top: 10px;
        }
    }

.per-cart-item .item-list .room-night .price, .room-num{
    margin-right: 10px;
}
    @media screen and (min-width: 768px){
        .per-cart-item .item-list .room-night .price, .room-num{
            margin-right: 20px;
        }
    }
    
.per-cart-item .item-list .item-price{
    font-size: var(--subtitle_18px);
    margin-top: 10px;
}
    @media screen and (min-width: 768px){
        .per-cart-item .item-list .item-price{
            font-size: var(--headline_28px);
            margin-top: 15px;
        }
    }

.per-cart-item .item-list .item-price span{
    color: var(--subColor_highLightRed);
}

.per-cart-item .item-list .stay-date{
    font-weight: 300;
    line-height: 0.8rem;
}
    @media screen and (min-width: 768px){
        .per-cart-item .item-list .stay-date{
            font-weight: 300;
            line-height: 1.4rem;
        }
    }

.delete-btn img{
    width: 15px;
    margin-left: 30px;
}
    @media screen and (min-width: 768px){
        .delete-btn img{
            width: 28px;
            margin-left: 120px;
        }
    }


/* --------------總結算列------------- */
.final-cart-price{
    position: relative;
}
    .final-cart-price::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background-color: var(--primaryColor_dark);
        top: -20px;
    }

.total-price{
    display: flex;
    text-align: right;
    justify-content: right;
    margin-top: 30px;
}

.deposit-price{
    display: flex;
    text-align: right;
    justify-content: right;
    margin-top: 20px;
}

.total-price p, .deposit-price p{
    text-align: right;
}

.total-price p{
    font-size: var(--subtitle_16px);
}
    @media screen and (min-width: 768px){
        .total-price p{
            font-size: var(--headline_24px);
        }
    }

.deposit-price p{
    font-size: var(--headline_20px);
}
    @media screen and (min-width: 768px){
        .deposit-price p{
            font-size: var(--headline_28px);
        }
    }

.deposit-price p span{
    color: var(--subColor_highLightRed);
    font-weight: 500;
}

.total-price-num, .deposit-price-num{
    margin-left: 20px;
}


/* ---------付款方式區塊--------- */
.pay-way{
    background-color: var(--subColor_bgc);
    padding: 30px;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 55px;
}
    @media screen and (min-width: 768px){
        .pay-way{
            margin: auto;
            padding: 5%;
            width: 50%;
            margin-left: 50px;
            margin-top: 0;
        }
    }
.pay-way .member-img{
    width: 70px;
    margin: auto;
    margin-bottom: 30px;
}
    @media screen and (min-width: 768px){
        .pay-way .member-img{
            width: 120px;
            margin-bottom: 40px;
        }
    }

.pay-way .member-img svg{
    width: 70px;
    height: 70px;
}
    @media screen and (min-width: 768px){
        .pay-way .member-img svg{
            width: 120px;
            height: 120px;
        }
    }

.pay-way .mycoupon{
    position: relative;
    
}

.pay-way .mycoupon::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--black_600);
    bottom: -20px;
}

.pay-way .mb-3 .select-coupon, .member-data{
    font-size: var(--headline_20px);
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    margin-top: 50px;
}
    @media screen and (min-width: 768px){
        .pay-way .mb-3 .select-coupon, .member-data{
            font-size: var(--headline_20px);
            margin-bottom: 18px;
            justify-content: left;
            margin-top: 50px;
        }
    }

    @media screen and (min-width: 768px){
        .pay-way .form .name-phone{
            display: flex;
            justify-content: space-between;
        }
        .pay-way .form .name-phone .name, .phone{
            width: 48%;
            /* margin-left: 10px; */
        }
    }

/* ---------付款方式按鈕--------- */
.cart-btn{
    margin: auto;
    margin-top: 40px;
}
    @media screen and (min-width: 768px){
        .cart-btn{
            display: flex;
            margin: auto;
            justify-content: space-evenly;
            margin-top: 40px;
        }
    }

.cart-btn .napBtn_fixed_outlined span, .cart-btn .napBtn_fixed_filled span{
    font-size: var(--headline_20px);
}
    @media screen and (min-width: 768px){
        .cart-btn .napBtn_fixed_outlined span, .cart-btn .napBtn_fixed_filled span{
            font-size: var(--headline_24px);
        }
    }

.credit-card-btn, .atm-btn{
    width: 180px;
    margin: auto;
}
    @media screen and (min-width: 768px){
        .credit-card-btn, .atm-btn{
            width: 45%;
        }
    }


.cart-btn button{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    text-decoration: none;
    width: 180px;
}
    @media screen and (min-width: 768px){
        .cart-btn button{
            margin: auto;
            margin-top: 10px;
            height: 55px;
            width: 100%;
        }
    }


/* 當裡面沒有商品的時候，不能點擊 */
.cart-btn.disabled button {
    margin: auto;
    margin-top: 10px;
    text-decoration: none;
    font-size: var(--headline_20px);
    background-color: var(--black_500);
    cursor: not-allowed;
    color: var(--white);
    outline: 0;
}

@media screen and (min-width: 768px) {
    .cart-btn.disabled button {
        font-size: var(--headline_24px)
    }
}

button {
    background-color: none;
    outline: none;
    padding: 0;
    border: none 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
/* ---------付款方式按鈕--------- */
.cart-btn{
    margin: auto;
    margin-top: 40px;
}
    @media screen and (min-width: 768px){
        .cart-btn{
            display: flex;
            margin: auto;
            justify-content: space-evenly;
            margin-top: 40px;
        }
    }

.napBtn_fixed_outlined span, .napBtn_fixed_filled span{
    font-size: var(--headline_20px);
}
    @media screen and (min-width: 768px){
        .napBtn_fixed_outlined span, .napBtn_fixed_filled span{
            font-size: var(--headline_24px);
        }
    }

.credit-card-btn, .atm-btn{
    width: 180px;
    margin: auto;
}
    @media screen and (min-width: 768px){
        .credit-card-btn, .atm-btn{
            width: 45%;
        }
    }


.cart-btn a{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    text-decoration: none;
    width: 180px;
}
    @media screen and (min-width: 768px){
        .cart-btn a{
            margin: auto;
            margin-top: 10px;
            height: 55px;
            width: 100%;
        }
    }

/* -------------------空購物車區塊------------------- */

/* .empty{
    display: none;
} */

.empty-cart{
    margin-top: 20px;
}
    @media screen and (min-width: 768px){
        .empty-cart{
            margin-top: 100px;
        }
    }

.empty-cart svg{
    width: 120px;
    height: 120px;
    display: flex;
    margin: auto;
}
    @media screen and (min-width: 768px){
        .empty-cart svg{
            height: 150px;
            width: 150px;
        }
    }

.empty-car-text{
    font-size: var(--subtitle_18px);
    text-align: center;
    line-height: 2rem;
    margin: 10%;
}
    @media screen and (min-width: 768px){
        .empty-car-text{
            font-size: var(--headline_28px);
            line-height: 3.5rem;
            margin: 5%;
        }
    }


/* ---------查看其他頁面按鈕--------- */
.empty-cart-btn{
    margin: auto;
    margin-bottom: 55px;
    
}
    @media screen and (min-width: 768px){
        .empty-cart-btn{
            display: flex;
            width: 50%;
            margin-bottom: 65px;
        }
    }


.empty-cart-btn a{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 170px;
    height: 40px;
    text-decoration: none;
}
    @media screen and (min-width: 768px){
        .empty-cart-btn a{
            margin: auto;
            margin-top: 10px;
            width: 230px;
            height: 55px;
            text-decoration: none;
            font-size: var(--headline_24px);
        }
    }