@font-face {
    font-family: custom-font;
    src: local(NotoSansTC), url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap') format("opentype");
    unicode-range: U+4E00-9FFF;
}
@font-face {
    font-family: custom-font;
    src: local(Arial), url('../font/Arial.ttf') format("truetype");
    unicode-range: U+00-024F;
}

:root {
    --primaryColor_default: #BFBD4A;
    --primaryColor_dark: #7C8C38;
    --primaryColor_light: #D6D48A;
    --primaryColor_tint: #D6D48A;
    --secondaryColor_default: #B18042;
    --secondaryColor_light: #EDDCCE;

    --subColor_bgc: #F7F5F0;
    --subColor_yellow: #FFE266;
    --subColor_lightRed: #F67557;
    --subColor_highLightRed: #B14F42;
    --subColor_text: #4C4C4C;
    
    --black_core: #000000;
    --black_900: #2D2D2D;
    --black_800: #4B4B4B;
    --black_600: #909090;
    --black_500: #CCCCCC;
    --black_400: #ECECEC;
    --black_200: #F6F6F6;
    --white: #ffffff;

    --headline_50px:80px;
    --headline_60px:60px;
    --headline_40px:40px;
    --headline_32px:32px;
    --headline_28px:28px;
    --headline_24px:24px;
    --headline_20px:20px;
    --subtitle_18px:18px;
    --subtitle_16px:16px;
    --p_16px: 16px;
    --p_14px: 14px;
    --p_12px: 12px;
    --p_10px: 10px;

    --border-radious: 20px;
    --btn-radious: 1200px;
    --box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.15);
}



body{
    font-family: custom-font;
    color: var(--subColor_text);
}

/* 活動詳細頁banner | events-detail */
.events-detail{
    margin-top: 68px;
    margin-bottom: 70px;
 
}
.events-detail-container{
    max-width: calc(100% - 80px);
    margin: auto;
}
/* ---------活動詳細頁-圖片---------- */
.detail-imgbox{
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 20px;
}
.detail-imgbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ---------活動詳細頁-標題---------- */
.detail-textbox h3, .detail-textbox h2{
    text-align: center;
    font-size: var(--headline_28px);
    font-weight: 600;
    color: var(--primaryColor_dark);
    padding-bottom: 15px;
}
.detail-textbox h2{
    padding-bottom: 30px;
    border-bottom: 2px solid var(--primaryColor_dark);
}
/* ---------活動詳細頁-集合時間---------- */
.detail-notice{
    padding-bottom: 15px;
}
.detail-notice:first-of-type{
    padding-top: 15px;
}
.detail-notice span{
    display: none;
}
.icon-box{
    width: 30px;
    aspect-ratio: 1/1;
    margin-right: 15px;
}
.icon-box img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}
/* ---------活動詳細頁-日程---------- */
.day1 h5, .day2 h5{
    font-size: var(--headline_20px);
    background-color: var(--primaryColor_dark);
    color: var(--white);
    text-align: center;
    padding: 5px 0;
    margin-bottom: 10px;
}
.day1 ul, .day2 ul{
    text-align: center;
    padding-bottom: 10px;
} 
.day1 li, .day2 li{
    padding-bottom: 10px;
}
/* ---------活動詳細頁-價錢---------- */
.price-joinbtn{
    text-align: center;
}
.price{
    font-size: var(--headline_20px);
}
.price h6{
    font-size: var(--headline_32px);
    font-weight: 600;
    color: var(--subColor_highLightRed);
}
/* ---------活動詳細頁-按鈕---------- */
.joinbtn{
    margin: 40px 0;
}
.joinbtn a{
    text-decoration: none;
    color: var(--white);
    background-color: var(--primaryColor_dark);
    padding: 10px 30px;
    border-radius: 30px;
    font-size: var(--headline_20px);
}

/* 比外表重要的事 | important-thing */
.important-thing{
    background-color: var(--subColor_bgc);
    position: relative;
}
.important-thing-container{
    max-width: calc(100% - 80px);
    margin: auto;
}
/* ---------比外表重要的事-文案---------- */
.important-thing-textbox{
    padding: 60px 0 100px;
}
.important-thing-textbox h3{
    font-size: var(--headline_20px);
    text-align: center;
    padding-bottom: 15px;
}
.important-thing-textbox h2{
    font-size: var(--headline_32px);
    text-align: center;
    padding-bottom: 15px;
    font-weight: 600;
    color: var(--secondaryColor_default);
}
p.mportant-thing-mb{
    text-align: justify;
    line-height: 1.8;
}
.mportant-thing-pc{
    display: none;
}
/* ---------比外表重要的事-跑馬燈---------- */
.important-thing-imgbox-mb{
    width: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: -50px;
}
.run-light-box{
    width: 400%;
}
.run-light-1{
    width: 100%;
    animation: marqee 15s linear infinite;
    left: 0%;
}
.run-light-2{
    width: 100%;
    animation: marqee2 15s linear infinite;
    animation-delay: -15s;
	left: 0%;
}
.run-light-1 img{
    width: 100%;
    padding-right: 50px;
}
.run-light-2 img{
    width: 100%;
    padding-right: 50px;
}
@keyframes marqee {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}
@keyframes marqee2{
    from{
        transform: translateX(0%)
    }
    to{
        transform: translateX(-100%)
    }
 }
.important-thing-imgbox-pc{
    display: none;
}

@media screen and (min-width:768px) {
    .important-thing-container{
        max-width: calc(100% - 720px);
        margin: auto;
    }
    /* ---------比外表重要的事-文案---------- */
    .important-thing{
        background-color: var(--subColor_bgc);
        position: relative;
        height: 100vh;
    }
    .important-thing-textbox{
        padding: 120px 0 50px;
    }
    .important-thing-textbox h3{
        font-size: var(--headline_40px);
        text-align: center;
        padding-bottom: 40px;
    }
    .important-thing-textbox h2{
        font-size: var(--headline_60px);
        text-align: center;
        padding-bottom: 40px;
        font-weight: 600;
        color: var(--secondaryColor_default);
    }
    /* ---------比外表重要的事-圖片---------- */
    p.mportant-thing-mb{
        display: none;
    }
    p.mportant-thing-pc{
        display: block;
        font-size: var(--headline_20px);
        line-height: 2.8;
        text-align: justify;
    }
    .important-thing-imgbox-mb{
        display: none;
    }
    .important-thing-imgbox-pc{
        display: block;
        max-width: 400px;
        margin: auto;
    }
    .important-thing-imgbox-pc img{
        width: 100%;
    }
 }