@font-face {
    font-family: custom-font;
    src: local(NotoSansTC), url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap') format("opentype");
    unicode-range: U+4E00-9FFF;
}
@font-face {
    font-family: custom-font;
    src: local(Arial), url('../font/Arial.ttf') format("truetype");
    unicode-range: U+00-024F;
}

:root {
    --primaryColor_default: #BFBD4A;
    --primaryColor_dark: #7C8C38;
    --primaryColor_light: #D6D48A;
    --primaryColor_tint: #D6D48A;
    --secondaryColor_default: #B18042;
    --secondaryColor_light: #EDDCCE;

    --subColor_bgc: #F7F5F0;
    --subColor_yellow: #FFE266;
    --subColor_lightRed: #F67557;
    --subColor_highLightRed: #B14F42;
    --subColor_text: #4C4C4C;
    
    --black_core: #000000;
    --black_900: #2D2D2D;
    --black_800: #4B4B4B;
    --black_600: #909090;
    --black_500: #CCCCCC;
    --black_400: #ECECEC;
    --black_200: #F6F6F6;
    --white: #ffffff;

    --headline_50px:80px;
    --headline_60px:60px;
    --headline_40px:40px;
    --headline_32px:32px;
    --headline_28px:28px;
    --headline_24px:24px;
    --headline_20px:20px;
    --subtitle_18px:18px;
    --subtitle_16px:16px;
    --p_16px: 16px;
    --p_14px: 14px;
    --p_12px: 12px;
    --p_10px: 10px;

    --border-radious: 20px;
    --btn-radious: 1200px;
    --box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.15);
}



body{
    font-family: custom-font;
    color: var(--subColor_text);
}

/* 活動頁面banner | events-banner */
.events-banner-row-mb{
    display: block;
}
.events-banner-row-pc{
    display: none;
}
.events-banner-ai01-imgbox{
    display: none;
}
/* 浪浪套裝活動-手機版 */
.events-banner-package{
    height: 50vh;
    background: url('../img_p/illustration/illustration-76.png') no-repeat center center / cover;
}
.events-banner-package-textbox{
    width: 75%;
    margin: auto;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.events-banner-package-textbox h3{
    padding-bottom: 10px;
}
.events-banner-package-textbox h2{
    font-size: var(--headline_28px);
    font-weight: 600;
    color: var(--primaryColor_dark);
    padding-bottom: 10px;
}
.events-banner-package-textbox p{
    width: 75%;
    font-size: var(--p_16px);
    text-align: justify;
    line-height: 1.6;
    padding-bottom: 15px;
}
.events-banner-package-textbox span{
    display: none;
}
.events-banner-package-btn{
    width: 100%;
    text-align: right;
}
.events-banner-package-btn a{
    font-size: var(--p_16px);
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: var(--primaryColor_dark);
    color: var(--white);
}

/* 每月特別活動 | 手機版 */
.events-banner-special{
    height: 50vh;
    background: url('../img_p/illustration/illustration-77.png') no-repeat center center / cover;
}
.events-banner-special-textbox{
    width: 75%;
    margin: auto;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.events-banner-special-textbox h3{
    padding-bottom: 10px;
    color: var(--white);
    font-weight: 300;
}
.events-banner-special-textbox h2{
    font-size: var(--headline_28px);
    font-weight: 600;
    color: var(--secondaryColor_default);
    padding-bottom: 10px;
}
.events-banner-special-textbox p{
    width: 100%;
    font-size: var(--p_16px);
    color: var(--white);
    font-weight: 300;
    text-align: justify;
    line-height: 1.6;
    padding-bottom: 15px;
}
.events-banner-special-textbox span{
    display: none;
}
.events-banner-special-btn{
    width: 100%;
    text-align: left;
}
.events-banner-special-btn a{
    font-size: var(--p_16px);
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: var(--secondaryColor_default);
    color: var(--white);
}
@media screen and (min-width:768px) {
    .events-banner-row-mb{
        display: none;
    }
    .events-banner-row-pc{
        display: block;
        position: relative;
    }
    .events-banner-ai01-imgbox{
        display: block;
        width: 45%;
        position: absolute;
        top: 82%;
        right: 0%;
        overflow: hidden;
    }
    .events-banner-ai01-imgbox img{
        width: 100%;
    }
    /* 每月特別活動 | 桌機版 */
    .banner-special-pc{
        width: 100%;
        height: 100vh;
        justify-content: space-between;
        overflow: hidden;
    }
    .banner-special-pc img{
        width: 100%;
        height: 100vh;
    }
    /* 浪浪套裝活動 | 桌機版 */
    .banner-package-pc{
        width: 50%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.3s linear;
        overflow: hidden;
    }
    .banner-package-pc img{
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: 0 0;
    }   
}